{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "jsx-quotes": "off",
    "indent": "off",
    "space-before-function-paren": "off",
    "react/jsx-indent": "off",
    "standard/no-callback-literal": "off"
  }
}
